.RundomPokemons {
  position: absolute;
  width: 100vw;
  min-height: 100%;
  top: 0;
  background-color: #e7e7e7;
}

.Results,
.Selected {
  /* position: relative; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 5rem;
}


